*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.mg-main{
    margin: 50px 0;
}
.logo{
    text-align: center;
}
.navbar{
    background-color: #FFC925;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.nav-item{
    padding: 10px 0;
}
.menu-color{
    color: #fff;
    font-size: 18px;
    padding: 15px 35px;
    text-decoration: none;
}
.menu-color:hover{
    background-color: #fff;
    color: #FFC925;
    transition: all 0.2s ease-in-out;
}
.mg-top{
    margin: 50px 0;
}
.addCategory{
    color:  #333;
    text-align: center;
    margin-bottom: 30px;
}
.form-pass{
    border: 1px solid #ccc;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.3),-2px -2px 8px rgba(0,0,0,0.2);
}
.form-password{
    margin: 20px 0;
    display: flex;
}
.form-password label{
    width: 150px;
    color: #FFC925;
}
.form-password input{
    flex: 1;
    border-radius: 10px;
    border: 1px solid #FFC925;
    outline: none;
    padding: 5px;
}
.form-password textarea{
    flex: 1;
    border: 1px solid #FFC925;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
.form-password select{
    flex: 1;
    border: 1px solid #FFC925;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
.btn-pass{
    outline: none;
}
.btn-pass input{
    border: 1px solid #FFC925;
    outline: none;
    border-radius: 15px;
    padding: 5px 20px;
    margin-right: 30px;
    background: #fff;
}
.btn-pass input:hover{
    background: #FFC925;
    color: #fff;
}
.form-search{
    text-align: right;
}
.input-search{
    width: 20%;
    padding: 5px;
    border: 1px solid #FFC925;
    border-radius: 10px;
}
.select-search{
    width: 20%;
    padding: 5px;
    border: 1px solid #FFC925;
    border-radius: 10px;
}
.btn-search{
    padding: 5px 20px;
    border: 1px solid #FFC925;
    border-radius: 10px;
}
.err{
    color: rgb(248, 10, 10);
    margin: 10px 0;
}